@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Ubuntu', sans-serif;
}

body{
    display:flex;

    min-height:100vh;

    background-image:
        linear-gradient(
        rgba(255, 220, 230, 0.08), 
        rgba(230, 190, 210, 0.12)
    ),

    url("../images/contact.png");

    background-size:cover;
}

.empty-state{
    width: 450px;
    margin: 80px auto;
    padding: 40px;

    text-align: center;

    background: rgba(255,245,245,.18);
    backdrop-filter: blur(22px);

    border: 1px solid rgba(255,255,255,.60);

    border-radius: 20px;

    color: white;

    box-shadow:
        0 15px 35px rgba(0,0,0,.18);
}

.logo-section{
    text-align: center;
    margin-bottom: 30px;
}

.logo{
    font-size: 70px;
    line-height: 1;
    margin: 30px;
}

.logo-section h2{
    margin-top: 13px;
    font-size: 30px;
    color:#f8e8ff;
    text-shadow:
        0 0 10px rgba(241,227,243,.35);

}

.sidebar{

    width:290px;

    background:
    rgba(92,66,49,.82);

    backdrop-filter:blur(15px);

    color:white;

    padding:30px;

    display:flex;
    flex-direction:column;
    gap:15px;
}

.welcome-text{
    font-size:14px;
    color:#f4dff8;
    text-align:center;
}

.user-name{
    font-size:20px;
    font-weight:600;
    color:#f8e8ff;
    text-align:center;
    margin-top:4px;

    text-shadow: 0 0 8px rgba(241, 227, 243, .25);
}

.user-info{
    text-align: center;
    margin-bottom: 30px;
    color: #f5d7df;
    font-size: 20px;
}

.sidebar button{

    padding:15px;
    border:none;
    border-radius:10px;
    background:#d887a7;
    color:white;
    cursor:pointer;
}

.main-content{

    flex:1;

    padding:40px;
}

.top-bar{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.top-bar input{

    width:100%;
    padding:18px;
    font-size: 18px;
    border:none;

    border-radius:18px;

    background:
    rgba(255,255,255,.75);

    box-shadow:
    0 8px 20px rgba(0, 0, 0, .1);
}

.contacts-grid{

    margin-top:30px;
    display:grid;

    grid-template-columns:
    repeat(auto-fit, 320px);

    justify-content: left;
    gap:20px;
}

.contact-card{
    width: 320px;
    padding: 25px;
    border-radius: 20px;

    background:
    rgba(255,245,245,.18);

    backdrop-filter:blur(22px);

    border:
    1px solid rgba(255,255,255,.60);

    box-shadow:
    0 15px 35px rgba(0,0,0,.18);
}

.actions{
    margin-top:15px;

    display:flex;
    gap:10px;
}

.actions button{

    border:none;

    padding:10px 15px;

    border-radius:10px;

    background:#d887a7;

    color:white;
}

.petals{
    position: fixed;
    inset: 0;
    pointer-events: none;
    overflow: hidden;
    z-index: 5;
}

.petals span{
    position: absolute;
    top: -50px;
    width: 14px;
    height: 14px;
    opacity: .75;

    background: #ffe6ef;

    border-radius:
        0 100% 0 100%;
    
    opacity: 1;

    box-shadow: 
        0 0 6px rgba(255, 255, 255, .8);

    border: 1px solid rgba(255, 255, 255, .7);

    animation-timing-function: linear;
    animation-iteration-count: infinite;

    animation-name: fallLeft;
    animation-name: fallRight;

}

.petals span:nth-child(odd){
    animation-name: fallLeft;
}

.petals span:nth-child(even){
    animation-name: fallRight;
}

.petals span:nth-child(1){
    left:5%;
    animation-duration:12s;
    animation-delay:0s;
}

.petals span:nth-child(2){
    left:15%;
    animation-duration:9s;
    animation-delay:-2s;
}

.petals span:nth-child(3){
    left:30%;
    animation-duration:15s;
    animation-delay:-5s;
}

.petals span:nth-child(4){
    left:45%;
    animation-duration:11s;
    animation-delay:-1s;
}

.petals span:nth-child(5){
    left:60%;
    animation-duration:14s;
    animation-delay:-7s;
}

.petals span:nth-child(6){
    left:75%;
    animation-duration:10s;
    animation-delay:-3s;
}

.petals span:nth-child(7){
    left:85%;
    animation-duration:13s;
    animation-delay:-6s;
}

.petals span:nth-child(8){
    left:95%;
    animation-duration:8s;
    animation-delay:-4s;
}

@keyframes fallLeft {

    0%{
        transform:
            translateX(0px)
            translateY(-50px)
            rotate(0deg);

        opacity:0;
    }

    10%{
        opacity:1;
    }

    25%{
        transform:
            translateX(-40px)
            translateY(25vh)
            rotate(90deg);
    }

    50%{
        transform:
            translateX(30px)
            translateY(50vh)
            rotate(180deg);
    }

    75%{
        transform:
            translateX(-50px)
            translateY(75vh)
            rotate(270deg);
    }

    100%{
        transform:
            translateX(20px)
            translateY(110vh)
            rotate(360deg);

        opacity:0;
    }
}

@keyframes fallRight {

    0%{
        transform:
            translateX(0px)
            translateY(-50px)
            rotate(0deg);

        opacity:0;
    }

    10%{
        opacity:1;
    }

    25%{
        transform:
            translateX(40px)
            translateY(25vh)
            rotate(-90deg);
    }

    50%{
        transform:
            translateX(-30px)
            translateY(50vh)
            rotate(-180deg);
    }

    75%{
        transform:
            translateX(50px)
            translateY(75vh)
            rotate(-270deg);
    }

    100%{
        transform:
            translateX(-20px)
            translateY(110vh)
            rotate(-360deg);

        opacity:0;
    }
}