*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    display:flex;

    min-height:100vh;

    background-image:
        linear-gradient(
        rgba(255, 220, 230, 0.08), 
        rgba(230, 190, 210, 0.12)
    ),

    url("../images/contact.png");

    background-size:cover;
}

.sidebar{

    width:250px;

    background:
    rgba(92,66,49,.82);

    backdrop-filter:blur(15px);

    color:white;

    padding:30px;

    display:flex;
    flex-direction:column;
    gap:15px;
}

.sidebar button{

    padding:12px;

    border:none;

    border-radius:10px;

    background:#d887a7;

    color:white;

    cursor:pointer;
}

.main-content{

    flex:1;

    padding:40px;
}

.top-bar input{

    width:100%;

    padding:15px;

    border:none;

    border-radius:15px;

    background:
    rgba(255,255,255,.75);
}

.contacts-grid{

    margin-top:30px;

    display:grid;

    grid-template-columns:
    repeat(auto-fill,minmax(300px,1fr));

    gap:20px;
}

.contact-card{

    padding:25px;

    border-radius:20px;

    background:
    rgba(255,248,245,.75);

    backdrop-filter:blur(15px);
}

.actions{
    margin-top:15px;

    display:flex;
    gap:10px;
}

.actions button{

    border:none;

    padding:10px 15px;

    border-radius:10px;

    background:#d887a7;

    color:white;
}

.petals{
    position: fixed;
    inset: 0;
    pointer-events: none;
    overflow: hidden;
    z-index: 5;
}

.petals span{
    position: absolute;
    top: -50px;
    width: 14px;
    height: 14px;
    opacity: .75;

    background: #ffe6ef;

    border-radius:
        0 100% 0 100%;
    
    opacity: 1;

    box-shadow: 
        0 0 6px rgba(255, 255, 255, .8);

    border: 1px solid rgba(255, 255, 255, .7);

    animation-timing-function: linear;
    animation-iteration-count: infinite;

    animation-name: fallLeft;
    animation-name: fallRight;

}

.petals span:nth-child(odd){
    animation-name: fallLeft;
}

.petals span:nth-child(even){
    animation-name: fallRight;
}

.petals span:nth-child(1){
    left:5%;
    animation-duration:12s;
    animation-delay:0s;
}

.petals span:nth-child(2){
    left:15%;
    animation-duration:9s;
    animation-delay:-2s;
}

.petals span:nth-child(3){
    left:30%;
    animation-duration:15s;
    animation-delay:-5s;
}

.petals span:nth-child(4){
    left:45%;
    animation-duration:11s;
    animation-delay:-1s;
}

.petals span:nth-child(5){
    left:60%;
    animation-duration:14s;
    animation-delay:-7s;
}

.petals span:nth-child(6){
    left:75%;
    animation-duration:10s;
    animation-delay:-3s;
}

.petals span:nth-child(7){
    left:85%;
    animation-duration:13s;
    animation-delay:-6s;
}

.petals span:nth-child(8){
    left:95%;
    animation-duration:8s;
    animation-delay:-4s;
}

@keyframes fallLeft {

    0%{
        transform:
            translateX(0px)
            translateY(-50px)
            rotate(0deg);

        opacity:0;
    }

    10%{
        opacity:1;
    }

    25%{
        transform:
            translateX(-40px)
            translateY(25vh)
            rotate(90deg);
    }

    50%{
        transform:
            translateX(30px)
            translateY(50vh)
            rotate(180deg);
    }

    75%{
        transform:
            translateX(-50px)
            translateY(75vh)
            rotate(270deg);
    }

    100%{
        transform:
            translateX(20px)
            translateY(110vh)
            rotate(360deg);

        opacity:0;
    }
}

@keyframes fallRight {

    0%{
        transform:
            translateX(0px)
            translateY(-50px)
            rotate(0deg);

        opacity:0;
    }

    10%{
        opacity:1;
    }

    25%{
        transform:
            translateX(40px)
            translateY(25vh)
            rotate(-90deg);
    }

    50%{
        transform:
            translateX(-30px)
            translateY(50vh)
            rotate(-180deg);
    }

    75%{
        transform:
            translateX(50px)
            translateY(75vh)
            rotate(-270deg);
    }

    100%{
        transform:
            translateX(-20px)
            translateY(110vh)
            rotate(-360deg);

        opacity:0;
    }
}