


*{
    box-sizing:border-box;
    font-family:'Ubuntu',sans-serif;
}

body{
    height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    background-image:
        linear-gradient(
        rgba(255, 220, 230, 0.08), 
        rgba(230, 190, 210, 0.12)),
        url("../images/login.png");


    background-size:cover;
    background-position:center;

}


.login-card{
    position:relative;
    z-index:2;

    width:420px;

    padding:50px;

    border-radius:30px;

    background:
    rgba(255, 245, 245, .18);

    backdrop-filter:blur(22px);

    border:
    1px solid rgba(255, 255, 255, .60);

    box-shadow:
    0 15px 35px rgba(0, 0, 0, .18);

    text-align:center;
}

.logo{
    font-size:55px;
    margin-bottom:10px;
}

h1{
    color:#2d1b28;
    font-size: 42px;
    font-weight: 700;
    margin-bottom:10px;
}

.subtitle{
    color:#382431;
    font-size: 18px;
    font-weight:500;
    margin-bottom:35px;
}

.input-group{
    display:flex;
    align-items:center;

    background:
    rgba(255,255,255,.88);

    padding:15px;

    border-radius:15px;

    margin-bottom:20px;
}

.input-group i{
    color:#9b6e87;
    margin-right:12px;
}

.input-group input{
    border:none;
    background:none;
    outline:none;

    width:100%;

    color:#2f1f33;
}

.input-group input::placeholder{
    color:#6d5664;
    opacity: 1;
}

.login-btn{
    width:100%;

    border:none;

    padding:15px;

    border-radius:15px;

    background:#d887a7;

    color:white;

    font-size:16px;

    cursor:pointer;

    transition:.3s;
}

.login-btn:hover{
    background:#c96f93;
}

.register-link{
    display:block;

    margin-top:20px;

    text-decoration:none;

    color:#2d1b28;

    font-weight:700;
}

.register-link:hover{
    color:#d887a7;
}