@import url("login.css");

.register-card{
    position:relative;
    z-index:2;

    width:450px;

    display:flex;
    flex-direction:column;
    gap:15px;

    padding:50px;

    border-radius:30px;

    background:
    rgba(255, 245, 245, .18);

    border:
    1px solid rgba(255, 255, 255, .60);

    backdrop-filter:blur(22px);

    box-shadow:
    0 15px 35px rgba(0, 0, 0, .18);

    text-align:center;
}

.register-card input{
    background:
    rgba(255, 255, 255, .88);

    color:#2d1b28;

    padding:14px;
    border:none;
    border-radius:12px;
    outline:none;
}

.register-card button{
    padding:14px;

    border:none;

    border-radius:12px;

    background:#d887a7;

    color:white;

    cursor:pointer;
}

.register-card a{
    text-decoration:none;
    color:#2d1b28;
    font-weight: 700;
}

.register-card a:hover{
    color:#b46b8b;
}